$yellow-light: #F8FD7A;
$yellow: #EFB126;
$dark-yellow: #DEAC3A;
$red: #C1493F;
$green: #349647;
$darkblue: #192139;
$darklila: #2D3960;
$lila: #54549B;
$lila-light: #7166D5;
$lila-lighter: #9B80FA;
$purple: #971FAD;
$aqua-blue: #2C93FF;
$sand: #97918A;
$sand-light: #D2C8C1;
$white: #FFFFFF;
$champ-bg: #273255;
$champ-bg-active: $darklila;